{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% form_theme formInscription 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="account-page register text-center">
            <div class="container">
                <div class="account-title">
                    <h4 class="heading-light">Nous sommes heureux de vous voir parmis nous</h4>
                </div>
                <div class="account-content">
                   {{ form_start(formInscription) }}
								<div class="input-box">
									{{ form_row(formInscription.nom, {'label': ' ', 'attr': {'placeholder': 'Nom'}}) }}
								</div>
								<div class="input-box">
									{{ form_row(formInscription.prenom, {'label': ' ', 'attr': {'placeholder': 'Prénom'}}) }}
								</div>
								<div class="input-box">
									{{ form_row(formInscription.login, {'label': ' ', 'attr': {'placeholder': 'Login'}}) }}
								</div>
								<div class="input-box">
									{{ form_row(formInscription.email, {'label': ' ', 'attr': {'placeholder': 'E-mail'}}) }}
								</div>
								<div class="input-box">
									{{ form_row(formInscription.mdp.first, {'label': ' ', 'attr': {'placeholder': 'Mot de passe'}}) }}
								</div>
								<div class="input-box">
									{{ form_row(formInscription.mdp.second, {'label': ' ', 'attr': {'placeholder': 'Confirmation mot de passe'}}) }}
								</div>
								<div class="buttons-set">
									<button type="submit" class="btn btn-success">Inscription</button>	
								</div>
  
				{{ form_end(formInscription) }}
                </div>
            </div>
        </div>

{% endblock %}
